---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";

import Imagem from "../images/image.jpg";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>teste</h1>

    <div>
      <Image src={Imagem} width={300} height={300} alt="teste" />
    </div>
  </main>
</Layout>

<style></style>
